# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/target/classes/com/application.properties
/resources/application.properties

../src/resources/application.properties

../src/main/resources/application.properties